---
export interface Props {
	title: string;
    sub_title: string;
    date: string;
	body: string;
	href: string;
}

const { href, title, sub_title, date, body } = Astro.props;
---

<div class=''>
    <h2 class=''>{title}</h2>
    <h5 class=''>{sub_title}, {date}</h5>
    <img src={href} class=''>
    <p class=''>{body}</p>
</div>





