---
const { name, title, logo, background, text, link } = Astro.props;
import FLink from '../components/Fancy-Link-Card.astro';
---

<div class='flex flex-col place-items-center rounded-2xl md:hover:scale-105 transition ml-5 mr-5'>
    <div style={{ position: 'relative'}} class='flex justify-center max-w-xl'>
        <img src={background} class='rounded-t-2xl border border-black' />
        <img src={logo} alt={name} class='absolute h-60 sm:h-96 object-contain p-2 sm:p-5'/>
    </div>
    <div class='flex flex-col place-items-center max-w-xl bg-stone-300 border border-black rounded-b-xl'>
        <h1 class='text-4xl font-extrabold text-center'>{name}</h1>
        <h1 class='text-2xl font-extrabold text-center'>{title}</h1>
        <p class='pl-4 pr-4 text-center'>{text}</p>
        <FLink href={link} title="Read More"/>
    </div>
</div>